version: 2
updates:
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - ".github/actions/local"
    commit-message:
      prefix: "deps(github-actions)"
    schedule:
      interval: "cron"
      cronjob: "30 7 * * *"
    target-branch: "main"
    groups:
      github-actions:
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "30 7 * * *"
    target-branch: "main"
    commit-message:
      prefix: "deps(go)"
    groups:
      go:
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"

  - package-ecosystem: "docker"
    directory: "/"
    commit-message:
      prefix: "deps(docker)"
    schedule:
      interval: "cron"
      cronjob: "30 7 * * *"
    target-branch: "main"
    groups:
      docker:
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"
