version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "30 7 * * *"
      timezone: "Europe/London"
    target-branch: "main"
    groups:
      github-actions:
        applies-to: "version-updates"
        patterns:
          - "*"
        exclude-patterns:
          - "super-linter/*"
        update-types:
          - "patch"
          - "minor"

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "30 7 * * *"
      timezone: "Europe/London"
    target-branch: "main"
    commit-message:
      prefix: "deps(go)"
    groups:
      go:
        applies-to: "version-updates"
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"

  - package-ecosystem: "docker"
    directory: "/"
    commit-message:
      prefix: "deps(docker)"
    schedule:
      interval: "cron"
      cronjob: "30 7 * * *"
      timezone: "Europe/London"
    target-branch: "main"
    groups:
      docker:
        applies-to: "version-updates"
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"
